@font-face {
  font-family: Spartan;
  src: url(./assets/fonts/LeagueSpartan.ttf);
}

#root {
  max-width: 1280px;
  width: 70vw;
  margin: 0 auto;
  
  font-family: Spartan, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}

header {
  .upper-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }

  .lower-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-bar a {
      padding-right: 1rem;
    }

    .right-bar a {
      padding-left: 1rem;
    }
  }
}
